* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div {
 font-size: 50px;
}

p {
    font-size: 18px;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.start {
    flex: 1;
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
}

.middle {
    flex: 2;
    background-color: blueviolet;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.end {
    flex: 3;
    background-color: tomato;
    display: flex;
    justify-content: flex-end;
    padding-right: 30px;
}

.headerNav {
    display: flex;
    
}

.middlePage {
    background-color: rgb(226, 43, 113);
    flex-grow: 1;
}

.footerPage {
    background-color: chartreuse;
    height: 180px;
    display: flex;
    padding: 0 100px;
}

.footerA {
background-color: chocolate;
flex: 6;
}

.footerB {
background-color: darkgoldenrod;
flex: 4;
position: relative;
}

.footerC {
background-color: rgb(156, 72, 88);
flex: 3;
}

.footerD {
background-color: aquamarine;
position: absolute;
height: 20vh;
width: 100%;
top: -20vh;
}

.animationOne {
    animation: animationOne 1s ease-in-out infinite alternate;
}
.animationTwo {
    animation: animationTwo 1s ease-in-out infinite alternate;
}

@keyframes animationOne {
    0% {
        transform: scale(1);
    }
    50% {
        top: -20vh;
    }
    100% {
        transform: scale(2);
        top: -40vh;
    }
}

@keyframes animationTwo {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(3) rotate(360deg) rotate3d(1,1,1, 360deg);
        background-color: blue;
    }
}

